#chat{
	width: 600px;
	padding: 5px;
	border: 1px solid black;
	margin: 0 auto;
}

#display{
	width: 100%;
	height: 200px;
	border-bottom: 1px solid black;
}

.input{
	height: 30px;
	border: 1px solid black;
	border-radius: 20px;
	padding: 0 10px;
}

.inputLine{
	text-align: center;
}

.inputLine span{
	margin: 0 10px;
	
}

.message{
	margin: 0;
}

#send{
	height: 50px;
	font-size: 25px;
	padding: 5px;
	margin: 0 5px;
	border-radius: 20px;
	border: 2px solid black;
}

#send:hover{
	background-color: black;
	color: white;
}

#send:active{
	border: 4px solid black;
}

.nick{
	width: 100px;
	font-style: italic;
	color: grey;
}

#messageInput{
	width: 200px;	
}
